<style>
    .np_block {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .np_header {
        font-family: Arial;
        font-size: 30px;
        font-weight: 700;
        color: #FFFFFF;
        background-color: #ff007b;
        display: inline-block;
        width: auto;
        padding: 2px 6px;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .np_title {
        font-family: Arial;
        font-size: 38px;
        font-weight: 700;
        line-height: 44px;
        color: #FFFFFF;
        letter-spacing: normal;
        text-transform: uppercase;
        text-shadow: 1px 1px 6px #000;
        position: static;
        inset: 0% auto auto 0%;
        margin: 0px;
        5px;
    }

    .np_artist {
        font-family: Arial;
        font-size: 40px;
        font-weight: 400;
        line-height: 44px;
        color: #FFFFFF;
        text-transform: uppercase;
        letter-spacing: normal;
    }
</style>

<div class="np_block">
    <div class="np_header">{{Status}}</div>
    <div class="np_title">{{Title}}</div>
    <div class="np_artist">{{Artist}}</div>
</div>