@page "/"
@rendermode InteractiveWebAssembly
@using NowPlayinObs.Domain
@using Microsoft.AspNetCore.SignalR.Client
@using NowPlayinObs.Hubs
@inject NavigationManager Navigation
@inject HttpClient Http

<div>@((MarkupString)RenderedHtml)</div>

@code{
    private HubConnection? _hubConnection;
    private TrackInfo _currentTrack = new();
    private string RenderedHtml = string.Empty;
    private string _template = string.Empty;
    private TemplateEngine _engine = new();

    protected override async Task OnInitializedAsync()
    {
        _template = await Http.GetStringAsync($"Templates/Default/NowPlayin.html");
        _engine.Bind("Status", () => _currentTrack.Status);
        _engine.Bind("Title", () => _currentTrack.Title);
        _engine.Bind("Artist", () => _currentTrack.Artist);

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri(NowPlayinHubDefaults.NOWPLAYIN_HUB))
            .Build();

        RenderHtml();

        _hubConnection.On<TrackInfo>("ReceiveNowPlayin", (trackInfo) =>
        {
            _currentTrack = trackInfo;

            RenderHtml();

            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
        
        await _hubConnection.SendAsync("GetNowPlayin").ConfigureAwait(false);
    }

    protected void RenderHtml() =>
        RenderedHtml = _engine.Render(_template);
   
}
